main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.searchBar {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 1.25rem;
}

label {
    display: block;
    justify-content: center;
    text-transform: capitalize;
    margin-top: 0.4rem;
}
.selectMenu {
    margin: 0 0.5rem;
    background-color: antiquewhite;
    height: 50px;
    font-size: 1rem;
}

.searchBar button {
    background-color: white;
    border: solid;
    border-width: 1px;
    border-color: rgb(3, 7, 89);
    border-radius: 0.1rem;
    border-radius: 16px;
    box-sizing: border-box;
    color:  rgb(3, 7, 89);
    cursor: pointer;
    padding: 15px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
}